* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color4);
}



:root {
    --color1:  rgb(27, 20, 20);
    --color2:  black;
    --color3:  rgb(0, 0, 46);
    --color4:  aliceblue;
    --color5:  darkred;
    --color6: rgb(97, 3, 3);
}

html {
    font-size: 10px;
    font-family: 'Tilt Neon', cursive;
}

body {
    font-size: 10px;
    font-family: 'Tilt Neon', cursive;
    background-color: var(--color5);
    display: block;
}