* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --color1:  rgb(27, 20, 20);
    --color2:  rgb(0, 0, 46);
    --color3:  aliceblue;
}

html, body {
    font-size: 10px;
    font-family: 'Tilt Neon', cursive;
}
