.root {

    /* APARIENCIA */
    max-width: 40rem;
    height: 100vh;



    /*Posición y posición de hijos */
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;

    /*Comportamiento*/


}

.root > h1 {
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0rem;
}

.root > h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 1rem;
}

.boton_x {
    border:0;
    border-radius: 100%;
    background-color: var(--color2);
    height: 6rem;
    width: 6rem;


    position: absolute;
    right: 5rem;
    bottom: 3rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_x:hover {
    background-color: var(--color6);
}

.boton_x > span {
    font-size: 3rem;
    font-weight: 600;
    color:var(--color4);
}

.modal {
    width: 70%;
    height: 15rem;
    background-color: var(--color5);
    box-shadow: 0px 4px 4px var(--color2);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border: 1px solid var(--color2);
    border-radius: 8px;

    display: none;
    flex-direction: column;
}

.activar {
    display: flex;
    transition: 0.5s;
}

.btn_cerrartarea {
    color: var(--color4);
    align-self: end;
    font-size: 2rem;
    margin: 1rem;

    cursor: pointer;
}

.txt {
    height: 10rem;
    margin-bottom: 1.5rem;
    
    font-size: 1.5rem;

    outline: none;
    background-color: var(--color2);
}
.btn-tarea {
    color: var(--color4);
    font-size: 2rem;
    margin: 1rem;

    align-self: end;
    border: 2px solid black;
    cursor: pointer;
}

.completar {
    text-decoration: line-through;
    color: var(--color5);

}