.todo_item {
    width: 90%;
    border: 1px solid var(--color4);
    background-color: var(--color2);

    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icono {
    font-size: 2rem;
    margin-right: 1rem;
}
.icono:hover{
    cursor: pointer;
    color: var(--color6);
}
.todo_item p {
    font-size: 16px;
}
.icono2 {
    font-size: 2rem;
    font-weight: 600;
    display: block;
}
.icono2:hover{
    cursor: pointer;
    color: var(--color6);
}