.todo_item {
    width: 90%;
    border: 1px solid black;

    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
}
.icono {
    font-size: 2rem;
    margin-right: 1rem;
}
.icono:hover{
    cursor: pointer;
}
.todo_item p {
    font-size: 16px;
}
.icono2 {
    font-size: 2rem;
    font-weight: 600;
}
.icono2:hover{
    cursor: pointer;
}

.boton {
    border:0;
    border-radius: 100%;
    background-color:black;
    height: 6rem;
    width: 6rem;


    position: absolute;
    right: 5rem;
    bottom: 3rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton > span {
    font-size: 3rem;
    font-weight: 600;
    color:aliceblue;
}